.hero
{
    background-color: hsl(210, 40%, 80%);
    padding: 2em;
}

.hero-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    min-height: 15em;;
    max-height: 20em;
}

.hero-image-section
{
    display: flex;
    justify-content: right;
    flex:1;
    margin: 1em;
    max-height: inherit;
    min-width: 0;
}

.profile-picture {
    margin: 1em;

    width: 100%;
    max-width: 14em;

    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.hero-text-section
{
    flex: 1;
    margin: 1em;
    text-align: left;
}